// Just the Docs dark color scheme overrides
$body-background-color: #0b0d12 !default;
$sidebar-color: #0f1220 !default;
$body-text-color: #e6e8ef !default;
$link-color: #7dc3ff !default;
$link-hover-color: #a7d7ff !default;
$code-background-color: #0f1218 !default;
$border-color: #1f2433 !default;
$search-result-preview-color: #b7bfcc !default;

